<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Employee Database UI</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <h1 class="text-center strong">Eat-Da-Burger!</h1>

    {{{ body }}}

    <div class="text-center">
        <h2 class="text-center">Add a Burger!</h2>
        <form method="POST" id="addBurger" class="button-size text-center">
            <input type="textfield" name="burgerName" placeholder="Burger Name..."></input>
            <button type="submit" id="save-button">Save Burger!</button>
        </form>
    </div>

<script type="javascript/text">

$("#save-button").click(function(event) {
    event.preventDefault();
    alert("On click event");
    console.log("on click event");
    let newBurger = {
        burgerName: $("#burgerName").val().trim(),
        eaten_status: false
    };

    $.post("/", newBurger)
        .then(function(data){
            console.log(data);
        });
});

</script>

</body>

</html>